$personImgWidth = 146px
$person_padding = 195px

.person
  & > :last-child
    margin-left $person_padding
    min-height $personImgWidth
    position relative
  .video_frame
    proportionalFrame(848, 400)
    img
      width 100%
  .person_frame
    circle($personImgWidth)
    margin-bottom - $personImgWidth
    margin-left (- $person_padding)
    img 
      width 100%

.visi_name
  @media (max-width: 600px)
    margin-top $personImgWidth + 20px
    margin-left (- $person_padding)
  font-weight 300
  font-size 18px
  line-height 26px
  margin 10px 0
  strong
    font-weight bold
    margin-right 15px
  span:last-child
    display block
  span.status
    @extend $status
    position relative
    top -1px
    margin-right 120px
    @media (max-width: 600px)
      margin-right 0

.quantity_line
  margin (- $gap / 2)
  @media (max-width: 600px)
    margin-left (- $gap / 2) - $person_padding
  @media (max-width: 340px)
    margin-left (- $person_padding)
    margin-right 0
  & > *
    vertical-align top
    display inline-block
    border 1px solid $color_back
    border-radius $radius
    margin ($gap / 2)
    width 115px
    @media (max-width: 340px)
      width 100%
      margin-left -1px
      margin-right -1px
    height 71px
    text-align center
    line-height 71px
  .framed
    display inline-block
    vertical-align middle
    line-height normal

  .reviews
    font-weight 300
    .rate
      font-size 24px
      line-height 18px
      display block
    .reviews_count
      display block
      font-size 13px
      line-height 13px

  .recommendations
    .framed
      line-height 20px
    font-size 12px
    a
      font-size 14px
      &::before
        background-image url(/assets/img/thumb2.png)
        width 24px
        height 23px
        position relative
        top 2px

  .contacts
    ul
      list-style none
      padding 0
      margin -2px
    li
      circle(20px)
      display inline-block
      margin 2px
    a
      font-size 13px

  .hourly_rate
    text-align left
    width auto
    border 0
    padding-left 5px
    font-size 14px
    font-weight normal
    em
      display block
      font-style normal
      font-size 30px
      color $color_red
      font-weight bold

.visi_menu
  margin-right -7px
  text-align right
  position absolute
  top 0
  right 0
  a
    margin-bottom 7px
    width 24px
    height 24px
    display inline-block
    margin-right 7px
  .like
    background url(/assets/img/icons/thumb_gray.png) no-repeat center center
  .share
    background url(/assets/img/icons/share_gray.png) no-repeat center center
  .more_opt
    background url(/assets/img/icons/more_options_gray.png) no-repeat center center