<section class="block person">
    <div class="full">
        <div class="video_frame">
            <div>
                <img src="/assets/img/video/video_scr_1.jpg" alt="">
                <!--<iframe width="100%" height="100%" src="https://www.youtube.com/embed/GBUCmMxmup0"-->
                <!--frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
            </div>
        </div>
    </div>
    <div>
        <div class="person_frame">
            <img src="/assets/img/users/{{photo}}" alt=""/>
        </div>
        <h1 class="visi_name">
            <strong>{{name}}</strong>
            {{#if isOnline}}
                <span class="status online">Online</span>
            {{/if}}
            <span>{{description}}</span>
        </h1>
        <div class="quantity_line">
            <div class="reviews">
                <div class="framed">
                    <span class="rate">{{reviews.rate}}</span>
                    <div class="rate_stars stars_4"></div>
                    <a href="#" class="reviews_count">({{reviews.count}} отзывов)</a>
                </div>
            </div><div class="recommendations">
                <div class="framed">
                    <a href="#" class="liked">{{recommendationsCount}}</a>
                    <span>Рекомендации</span>
                </div>
            </div><div class="contacts">
                <div class="framed">
                    <ul>
                        {{#each contacts.photos}}
                            <li><img src="./assets/img/users/{{this}}" alt=""/>
                        {{/each}}
                    </ul>
                    <a href="#">Контакты ({{contacts.count}})</a>
                </div>
            </div><div class="hourly_rate">
                <div class="framed">
                    <span>Почасовая ставка от:</span>
                    <em>{{hourlyRate}}</em>
                </div>
            </div>
        </div>
        <div class="visi_menu">
            <a href="#" class="like"></a>
            <a href="#" class="share"></a>
            <a href="#" class="more_opt"></a>
        </div>
    </div>
</section>