{{#> layouts/base title="Search" path="search"}}
    <div class="wrapper">
        <div>
            {{{inc "filter"}}}
        </div>
        <div class="col-wrap">
            <main>
                {{{inc "main"}}}
            </main><div class="aux">
                {{{inc "auxiliary"}}}
            </div>
        </div>
    </div>
{{/layouts/base}}