circle($r)
  width $r
  height $r
  overflow hidden
  border-radius 50%

$column
  vertical-align top
  display inline-block
  box-sizing border-box

column()
  @extend $column

$imageFrame
  border-radius $radius
  overflow hidden
  img
    width 100%
