$col_margin = 15px

$thresholds = 'min-width: 630px', 'min-width: 870px'

col()
  vertical-align top
  padding 0 $col_margin
  display inline-block
  box-sizing border-box

col-wrap()
  margin 0 0 - $col_margin

for t, i in $thresholds
  @media ({t})
    $th{1+i}-col
      col()
    $th{1+i}-col-wrap
      col-wrap()

col-12($n)
  100% / 12 * $n

.wrapper
  padding 0 $col_margin
  box-sizing border-box
  max-width 1170px
  margin auto
