.rates
  dl
    @extend $separated_bottom
    &:last-child::after
      display none
    margin 0
    & > *
      padding-left 27px
    dt
      font-weight normal
      font-size 14px
      line-height 22px
      &::before
        content ''
        width 16px
        height 16px
        vertical-align middle
        left -27px
        position relative
        margin-right -16px
        display inline-block
    dd
      margin 0
      font-weight 300
      font-size 13px
      margin-top 15px

  .time_response
    dt
      &::before
        background url(/assets/img/icons/icons_set_1.png) left top
    .time_response_sign
      color $color_aux
      &::before
        color $color_text_secondary
        vertical-align bottom
        content '—'
        display inline-block
        margin-right 5px
        padding-left 14px
        background url(/assets/img/icons/response_sign.png) no-repeat left 2px

  .count_service
    dt
      &::before
        background url(/assets/img/icons/icons_set_1.png) left bottom
    dd
      & > a strong
        font-weight 300
        font-size 30px
        line-height 22px
        color $color_main
      .liked
        margin-left 20px

  .activity_index
    dt
      &::before
        background url(/assets/img/icons/icons_set_1.png) no-repeat 0 -46px
