<section class="block rates">
    <h3 class="heading">Рейтинги</h3>
    <dl class="time_response">
        <dt>Среднее время отклика:</dt>
        <dd>
            <span class="time_response_sign">В течение 30 мин.</span>
        </dd>
    </dl>
    <dl class="count_service">
        <dt>Количество оказанных услуг:</dt>
        <dd>
            <a href="#"><strong>93 </strong>услуги</a>
            <a href="#" class="liked">36</a>
        </dd>
    </dl>
    <dl class="activity_index">
        <dt>Индекс деловой активности</dt>
        <dd>(empty)</dd>
    </dl>
</section>
