.enroll_online
  text-align center
  background $color_red
  a
    font-weight 300
    display block
    padding $gap
    font-size 16px
    line-height 20px
    color #fff
    vertical-align middle
    &::before
      vertical-align middle
      display inline-block
      content ''
      width 20px
      height 20px
      margin-top -5px
      margin-right 10px
      background-image url(/assets/img/icons/icons_set.png)
      background-position 22px bottom