<div class="person_data">
    <img src="/assets/img/{{photo}}" alt="{{name}}">
    <h2>
        {{name}}
        <span class="activity">({{activity}})</span>
    </h2>
    {{#isOnline}}
        <span class="status online">Online</span>
    {{/isOnline}}
    <div class="desc">
        <span class="brief">{{description.brief}}</span>
        <span class="d_full">{{description.full}}</span>
    </div>
    <ul class="tags">
        {{#each tags}}
        <li>{{this}}
        {{/each}}
    </ul>
</div><div class="value">
    <span class="price">
        {{price.type}}:
        <strong>{{price.amount}}</strong>
    </span>
    <span class="rate">
        {{rate.value}}
        <span class="rate_stars stars_{{rate.stars}}"> </span>
    </span>
    <a class="reviews">
        ({{reviews}} отзывов)
    </a>
</div>
<div class="info">
    <a href="#" class="liked">{{likes}}</a>
    <ul>{{#each recommend}}
        <li><img src="/assets/img/{{photo}}">
    {{/each}}</ul>
    <span class="hours{{#hours.alert}} alert{{/hours.alert}}">{{hours.text}}</span>
    <a href="#" class="address">{{address}}</a>
    <a href="#" class="more_">Подробней</a>
</div>