.item

  .person_data
    column()
    width 100%
    padding-right 175px
    padding-left 175px
    @media (max-width 630px)
      padding-left 0
      padding-right 0

    & > :first-child
      @extend $imageFrame
      float left
      margin-left -175px
      width 160px
      @media (max-width 630px)
        display block
        float none
        margin-left 0
        margin-bottom 10px
  .value
    column()
    @media (max-width 420px)
      display block
      margin-left 0
      margin-top 20px
    margin-left -145px
    width 145px
    //todo check if useful block children always margin top
    margin-top 0
  .info
    //todo not full separated
    @extend $separated_top
    &::before
      margin-left 0
      margin-right 0

  color $color_main
  h2
    font-size 18px
    font-weight bold
    display inline-block
    margin-right $col_margin
  .activity
    font-weight 300
  .desc
    line-height 17px
    font-size 13px
    .brief
      margin 7px 0
      font-weight normal
      display block
    .d_full
      margin-bottom 15px
      font-weight 300
      display block
      color $color_text_secondary
  .status
    @extend $status
  .price
    font-size 12px
    strong
      display block
      margin-top 5px
      font-size 24px
      color $color_red
  .tags
    @extend $tags
  .rate
    font-size 16px
    font-weight 300
    margin-top 12px
    display block
  .reviews
    font-size 13px
    font-weight 300
  .info
    line-height 20px
    font-weight 300
    font-size 13px
    position relative
    & > *
      display inline-block
      margin-right 20px
    & > :last-child
      margin-right 0
    ul
      @extend $images_list
      margin -2px
      margin-right 20px
      addIconAfter("DropDown")
      li
        margin 2px
        circle(20px)
        margin-top -1px
    .hours
      addIconBefore("Clock")
      &.alert
        addIconBefore("ClockAlert")
        color $color_red
    .address
      addIconBefore("Map")
    .more_
      float right
      addIconAfter("ArrowRight")

