<section class="block description_list">
    <h2>{{brief}}</h2>
    <div class="list_container">
        <article>
            {{{full}}}
        </article>
    </div>
    <a href=# class="more">Подробнее</a>
</section>