.description_list
  .block& > h2
    font-size 22px
    line-height 28px
    font-weight normal
    margin-top -4px
  .list_container
    @extend $gap_list
  article
    @extend $separated_list_item
    color $color_text_secondary
    font-size 14px
    line-height 22px
    h3
      color $color_text_primary
      font-weight bold
      font-size 14px
      margin-bottom ($gap / 2)
    ul
      margin 0
      padding-left $gap
      font-weight 300
  .more
    &::before
      border 0
      margin 0
    &::after
      background url(/assets/img/dropdown_arrow.png) no-repeat center 100%