$height = 70px

header
  color #fff
  min-height $height
  background-color $color_main
  .wrapper
    & > *
      position relative
      z-index 1
    & > :first-child,
    & > :last-child
      height $height
      position absolute
      z-index 0
      top 0
      width 50%
      box-sizing border-box
      text-align center
      background-clip content-box
      line-height $height
    & > :first-child
      @media(max-width 1600px)
        position relative
        display inline-block
        right 0
        padding-right 0
        float left
        width auto
      right 50%
      padding-right (1170px / 2)
      img
        vertical-align middle
    & > :last-child
      @media(max-width 1700px)
        display none
      left 50%
      padding-left (1170px / 2)
      white-space nowrap
      img
        border #fff 1px solid
        box-sizing border-box
        circle(36px)
        vertical-align middle
        margin-right 13px
      div
        text-align left
        vertical-align middle
        display inline-block
        line-height 14px
        font-size 12px
        font-weight 300
        color $color_text_secondary
        strong
          &::after
            content ''
            display inline-block
            width 8px
            height 5px
            margin-left 15px
            background-image url("/assets/img/dropdown_arrow_w.png")
          color #fff
          white-space nowrap
          display block
    label
      position relative
      float left
      width 458px
      height $height
      display inline-block
      background $color_text_primary
      cursor pointer
      @media(max-width 1600px)
        margin-left 35px
        margin-right 35px
        float none
      @media(max-width 1100px)
        width 68px
      img
        padding 0 25px
        vertical-align middle
        position absolute
        right 0
        top 26px

    input
      @media(max-width 1100px)
        display none
      &::placeholder
        color $color_back
      box-sizing border-box
      width 100%
      color $color_back
      font-size 14px
      font-weight 300
      height $height
      line-height $height
      display inline-block
      padding 0 (25px * 2 + 18) 0 25px
      border 0
      margin 0
      background transparent

  .wrapper
    text-align right
    & > *
      display inline-block
      vertical-align top
  nav
    padding-right $gap + 35px
    font-size 14px
    font-weight bold
    ul
      margin 0 -17px
      padding 0
      list-style none
    li
      display inline-block
    a
      line-height $height
      padding 0 17px
      display inline-block
      color $color_back

  button
    coloredButton($color_aux)
    addIconBefore("Plus")
    height 36px
    margin 17px 0