<header>
    <div class="wrapper">
        <div>
            <a href="#"><img src="/assets/img/logo.png" alt="Visitizer"></a>
        </div><label>
            <input placeholder="Найти услугу">
            <img src="/assets/img/search_icon.png">
        </label><nav>
            <ul>
                <li><a href="#">Блог</a>
                <li><a href="#">Помощь</a>
            </ul>
        </nav><button>Создать визитку</button>
        <div>
            <img src="/assets/img/users/user1_big.png"><div>
                <strong>Сергей Добровольский</strong>
                Адвокат
            </div>
        </div>
    </div>
</header>