<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {{#if title}}
            {{title}}
        {{else}}
            Visitizer
        {{/if}}
    </title>
    <link href="/styles/index.css" rel="stylesheet"/>
</head>
<body class="{{path}}">
{{{inc "header" common=true}}}
{{> @partial-block }}
{{{inc "footer" common=true}}}
</body>
</html>