.address
  ul
    line-height 0
    list-style none
    margin 0
    padding 0
    margin-right -15px
    li
      display inline-block
      margin-right 15px
  dl
    margin 0
    font-size 14px
    line-height 28px
    dt, dd
      margin 0
    dd
      & > *
        display block
      span
        &::before
          position relative
          top -1px
          display inline-block
          content ''
          width 16px
          height 16px
          vertical-align middle
          padding-right 7px
          background url(/assets/img/icons/icons_set_1.png) no-repeat top left
  .map
    @media (max-width: 870px)
      padding-bottom 300px
    @media (max-width: 640px)
      padding-bottom 200px
    proportionalFrame(1, 1)
    border-radius $radius
    max-height 300px
    img
      width 100%