<section class="block address">
    <h4 class="heading">Контакты / Как&nbsp;добраться</h4>
    <ul class="socials">
        <li><a href=""><img src="/assets/img/icons/facebook.png" alt=""/></a>
        <li><a href=""><img src="/assets/img/icons/vk.png" alt=""/></a>
        <li><a href=""><img src="/assets/img/icons/twitter.png" alt=""/></a>
        <li><a href=""><img src="/assets/img/icons/googleplus.png" alt=""/></a>
    </ul>
    <div class="addresses">
        <dl>
            {{#each this}}
                {{{file "address_item"}}}
            {{/each}}
        </dl>
    </div>
    <div class="map"><div><img src="/assets/img/map.png" alt=""/></div></div>
    <div class="more"><a href="#">Смотреть карту</a></div>
</section>