.folio
  dl
    line-height 16px
    max-width 300px
  dt
    proportionalFrame(190, 150)
    div
      border-radius $radius
      overflow hidden
    img
      width 100%
    margin-bottom ($gap / 2)
  dd
    margin 0
    font-size 14px
    &.date
      font-size 13px
      font-weight 300
      color $color_text_secondary