<section class="block folio">
    <h4 class="heading">Портфолио</h4>
    {{#each this}}
        {{{file "folio_item"}}}
    {{/each}}
    <div class="more"><a href="#">Смотреть портфолио</a></div>
</section>