.filter
  button
    coloredButton($color_red2)
    addIconBefore("Search")
  & > :first-child
    margin 0 (- $gap - $col_margin)
    @extend $separated_bottom
    & > *
      padding 0 $col_margin
      display inline-block
      @media (max-width 720px)
        //todo narrow layout
        width auto !important
        display block
      box-sizing border-box
    & > :first-child
      width (5 / 12 * 100)%
      @media (max-width 1100px)
        width (4 / 12 * 100)%
      padding-left $col_margin * 3
      @media (max-width 720px)
        padding-right $col_margin * 3
      input
        width 100%
    & > :nth-child(2)
      @media (max-width 720px)
        margin-top ($gap / 2)
        padding 0 $col_margin * 3
      width (5 / 12 * 100)%
      $lastChildWidth = 100px
      & > :first-child
        width 100%
        box-sizing border-box
        padding-right $lastChildWidth + 5
        margin-right - ($lastChildWidth + 5)
        display inline-block
        input
          width 100%
      & > :last-child
        float right
        z-index 1
        position relative
        display inline-block
        width $lastChildWidth
        padding-right 10px
    & > :nth-child(3)
      width (2 / 12 * 100)%
      @media (max-width 1100px)
        width (3 / 12 * 100)%
      @media (max-width 720px)
        margin-top ($gap / 2)
        padding-left  $col_margin * 3
      padding-right $col_margin * 3
      button
        width 100%

  input,
  select
    @extend $input

  .ext
    padding 0 $col_margin * 2 - $gap
    color $color_text_secondary
    font-size 14px
    font-weight 300
    line-height 25px
    ul
      list-style none
      margin 0 - $col_margin
      padding 0
      display inline-block
    li
      display inline-block
      padding 0 $col_margin
      addIconAfter("DropDown")
    a
      addIconBefore("Map")
      &::before
        top 3px
      float right