<section class="block filter">
    <div>
        <div>
            <input type="text" placeholder="Выберите услугу">
        </div><div>
            <div>
                <input type="text" placeholder="Выберите локацию">
            </div>
            <select>
                <option>+5 км</option>
                <option>+10 км</option>
            </select>
        </div><div>
            <button>Поиск</button>
        </div>
    </div>
    <div class="ext">
        <ul>
            <li>Дата размещения
            <li>Компания
            <li>Метро / район
            <li>Ценовой диапазон
            <li>Другие фильтры
        </ul>
        <a href="#">Смотреть карту</a>
    </div>
</section>