<section class="block to_contact">
    <ul>
        <li class="tel"><span>380XX XXX XX XX</span> <a href="#" class="show">Показать</a>
        <li class="tel"><span>380XX XXX XX XX</span> <a href="#" class="show">Показать</a>
        <li class="mail">Написать сообщение</li>
    </ul>
</section>