.to_contact
  background $color_aux
  color #fff
  font-size 16px
  font-weight 300
  .show
    font-size 12px
    color #fff
    text-decoration underline
    display inline-block
    position relative
    bottom 2px
  .tel, .mail
    padding-left 30px
    &::before
      margin-left -30px
      vertical-align middle
      display inline-block
      content ''
      width 20px
      height 20px
      margin-right 10px
      background-image url(/assets/img/icons/icons_set.png)
  .tel
    &::before
      background-position 22px top
  .mail
    &::before
      background-position 22px 50%
  ul
    margin 0
    padding 0
    list-style none
  .tel
    span
    margin-right 5px
    @extend $separated_bottom
    &::after
      border-color $color_aux_pale
      margin-left -30px - $gap