<li>
    <div><img src="{{image}}" alt=""/></div>
    <div>
        <a href="" class="order">Заказать услугу</a>
        {{#action}}
            <div class="action">Акция</div>
        {{/action}}
        <div class="price">
            <strong>{{price.amount}}</strong> {{price.currency}}
            {{#if price.type}}
                <span>({{price.type}})</span>
            {{/if}}
        </div>
        <div class="brief_target">{{brief}}</div>
        <div class="full_descr">{{description}}</div>
    </div>
</li>