<section class="block services">
    <h4 class="heading">
        Услуги
    </h4>
    <ul>
        {{#each this}}
            {{{file "services_item"}}}
        {{/each}}
    </ul>
    <div class="more"><a href="#">Смотреть все услуги</a></div>
</section>