.services
  ul
    padding 0
    margin 0
    @extend $gap_list
  li
    @extend $separated_list_item
    display table
    width 100%
    & > *
      display table-cell
      vertical-align top
    & > :first-child
      width 145px
      padding-right $gap
      img
        border-radius $radius
        overflow hidden
        display block
        width 100%
  @media(max-width: 450px)
    li
      display block
      & > *
        display block
        &:first-child
          margin-bottom $gap
  .price
    font-weight bold
    font-size 18px
    strong
      font-size 24px
    span
      font-size 13px
      font-weight 300
      color $color_text_secondary
  .action
    color $color_red
    font-size 12px
  .brief_target,
  .full_descr
    font-size 14px
    line-height 18px
  .brief_target
    margin-top 15px
  .full_descr
    color $color_text_secondary
    font-weight 300
    margin-top 5px
  .order
    display block
    float right
    font-size 14px
    font-weight 300
    &::before
      background url('/assets/img/icons/order_icon.png')
      content ''
      display inline-block
      width 13px
      height 16px
      margin-right 8px
      position relative
      top -3px
      vertical-align middle
