<section class="block profile">
    <h3 class="heading">Информация профиля</h3>
    <dl class="activities">
        <dt>
            Деятельность
        </dt>
        <dd>
            <p>{{activities.description}}
            <ul class="tags">
                {{#each activities.tags}}
                <li>{{this}}
                {{/each}}
            </ul>
        </dd>
    </dl>
    <dl class="education">
        <dt>
            Образование
        </dt>
        <dd>
            {{education}}
        </dd>
    </dl>
    <dl class="langs">
        <dt>
            Языки:
        </dt>
        <dd>
            {{#each languages}}
                {{this}}
            {{/each}}
        </dd>
    </dl>
    <dl class="age">
        <dt>
            Возраст:
        </dt>
        <dd>
            {{age}} года
        </dd>
    </dl>
    <dl class="certificates">
        <dt>
            Сертификаты/Дипломы
        </dt>
        <dd>
            <p>
            <ul>
                {{#each certificates}}
                <li><img src="/assets/img/diplomas/{{this}}" alt=""/>
                {{/each}}
            </ul>
        </dd>
    </dl>
</section>