$inline_title
  dt
    display inline-block
    margin-bottom 0
  dd
    display inline-block

.profile
  dl
    line-height 20px
    margin-bottom 0
    margin-left 0
    margin-right 0
  dt
    font-size 14px
    margin-bottom 5px
  dd
    font-size 13px
    font-weight 300
    margin 0
    p
      margin 0 0 5px 0
  .tags
    @extend $tags

  .langs
    @extend $inline_title

  .age
    @extend $inline_title

  .certificates
    ul
      @extend $images_list
    li
      height 64px
      width  64px
      overflow hidden
      img
        width 100%