<dl>
    <dt>
        <div class="img"><img src="/assets/img/users/{{image}}" alt=""/></div>
        <div class="info">
            <span class="name">{{name}}</span>
            <span class="activity">{{activity}}</span>
            <span class="experience">{{experience}}</span>
            <span class="rate">{{rate}}</span>
        </div>
    </dt>
    <dd>
        <div class="rate_line {{#like}}liked{{/like}}">
            <div class="rate_stars stars_{{stars}}"></div>
            <span class="date">{{date}}</span>
        </div>
        <p>{{text}}</p>
    </dd>
</dl>