.reviews
  dl, dd, p
    margin 0
  .heading
    h3
      display inline-block
      margin-right 10px
    & > span
      white-space nowrap
    .rate
      display inline-block
      font-weight 300
    .rate_stars
      margin 0 5px
      //vertical-align middle
    .reviews_count
      display inline-block
      font-size 13px
  .reviews_list
    @extend $full
    dl
      font-weight 300
      padding $gap
      &:first-child
        margin-top - $gap
      &:last-child
        margin-bottom - $gap
      &:nth-child(odd)
        background $color_back_dark
  dt
    padding-left 54px
    position relative
    margin-bottom 12px
    .img
      circle(44px)
      display block
      position absolute
      left 0
      img
        width 100%
    .info
      line-height 16px
    .name
      display block
      font-weight normal
      font-size 14px
    .activity
      display block
      font-size 13px
      color $color_text_secondary
    .experience
      font-size 13px
      color $color_aux
    .rate
      line-height 16px
      font-size 12px
      background url(/assets/img/star_bg.png) no-repeat right 1px
      padding-right 17px
      height 16px
      display inline-block
      margin-left 12px
  dd
    .rate_line
      line-height 16px
    .rate_stars
      margin-right 5px
      position relative
    .date
      color $color_text_secondary
      position relative
      top -1px
      font-size 12px
      display inline-block
      line-height 12px
    p
      margin-top 5px
      font-size 13px
      line-height 18px
      color $color_main