<section class="block reviews">
    <div class="heading">
        <h3>Отзывы</h3>
        <span>
            <span class="rate">4.6</span>
            <span class="rate_stars stars_4"></span>
            <a href="#" class="reviews_count">(167)</a>
        </span>
    </div>
    <div class="reviews_list">
        {{#each this}}
            {{{file "reviews_item"}}}
        {{/each}}
    </div>
    <div class="more"><a href="#">Смотреть все рекомендации</a></div>
</section>
