﻿
<div class="navbar navbar-default navbar-fixed-top">
    <div class="header">
        <div class="navbar-header">
            
            @Html.ActionLink("Главная", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        
    </div>
</div><br />


