﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>

    <body>

        @RenderPage("~/Views/Shared/_Header.cshtml")

        <div id="wrapper">
            <br />
            <div class="content">
                <div class="col-lg-12">
                    @RenderBody()
                    <br /><br /><br /><br />
                </div>

                @RenderPage("~/Views/Shared/_Footer.cshtml")
            </div>

        </div>
    </body>
</html>