.first_consult
  background $color_main
  font-weight 300
  color #fff
  font-size 20px
  line-height 24px
  input
    width 100%
    height 44px
    line-height 44px
    padding 0 $gap
    border-radius $radius
    box-sizing border-box
    margin-top 15px
    border 0
    font-family $font_main
    font-size 14px
    text-transform uppercase
    &[type=text]
      background #fff
      color $color_text_secondary
    &[type=submit]
      cursor pointer
      background $color_aux
      color #fff

