<section class="block first_consult">
    <p>Укажите Ваш телефон, и получите первую консультацию совершенно бесплатно для себя.</p>
    <form>
        <label>
            <input type="text" placeholder="+380   _ _   _ _ _   _ _   _ _"/>
        </label>
        <input type="submit" value="Отправить"/>
    </form>
</section>