﻿html {
    position: relative;
    min-height: 100%;
    }



body {
    margin: 0 0 100px; 
    padding: 25px;
    
    }


footer {
    position: absolute;
    bottom: 0;
    height:60px;
    width: 100%;
    background-color: #f5f5f5;
    z-index: 150;
    }

.header{
    margin-right:30px;
}



.glyphicon-menu-hamburger {
  font-size: large;
}