﻿@model List<Visitizer.Api.Areas.Shared.Models.FileModel>

@{
    ViewBag.Title = "Документы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<div id="fldrlist">
    <h3>Файлы</h3>
    <ul class="dashed-list">
        @foreach (var item in Model)
            {
            <li class="list-group-item">@Html.ActionLink(item.Name, "Download", new { name = item.Name }) </li>
        }
    </ul>
</div><br /><hr />


