$icon
  position relative
  top 1px
  content ''
  display inline-block
  width 12px
  height 12px

$iconBefore
  margin-right 10px
$iconAfter
  margin-left 10px

addIconBefore($name)
  &::before
    @extend $icon
    @extend $iconBefore
    @extend $icon{$name}

addIconAfter($name)
  &::after
    @extend $icon
    @extend $iconAfter
    @extend $icon{$name}

$iconThumb
  background-image url("/assets/img/thumb.png")
  width 16px
  height 16px
  top 0
  margin-right 5px
  margin-top -5px

$iconPlus
  background-image url("/assets/img/icons/icons_b.png")
  background-position -12px 0

$iconSearch
  background-image url("/assets/img/icons/icons_b.png")
  background-position 0 0

$iconMap
  background-image url("/assets/img/location.png")
  width 16px
  height 17px
  vertical-align top

$iconDropDown
  background-image url("/assets/img/dropdown_arrow_2.png")
  width 8px
  height 4px
  top -3px

$iconArrowRight
  background-image url("/assets/img/arrow_right.png")
  width 5px
  height 9px

$iconSetClock
  background-image url("/assets/img/timetable.png")
  width 16px
  height 16px
  top 3px

$iconClock
  @extend $iconSetClock

$iconClockAlert
  @extend $iconSetClock
  background-position -16px 0
