$full
  margin-left - $gap
  margin-right - $gap

$separated_base
  display block
  @extend $full
  border 0 solid $color_back
  content ''
$separated_bottom
  &::after
    @extend $separated_base
    border-bottom-width 1px
    padding-bottom $gap - 1
    margin-bottom $gap
$separated_top
  &::before
    @extend $separated_base
    border-top-width 1px
    padding-top $gap - 1
    margin-top $gap

$separated_list_item
  border-bottom 1px solid $color_back
  padding-bottom $gap - 1
  &:last-child
    border-bottom none
    padding-bottom 0

$gap_list
  & > *
    margin-top $gap
  & > :first-child
    margin-top 0

.block
  border-radius $radius
  box-shadow 0 1px 3px 0 rgba(0, 0, 0, .11)
  overflow hidden
  background-color #fff
  padding $gap
  margin-top $gap
  @extend $gap_list
  .full
    @extend $full
    &:first-child
      margin-top - $gap
    &:last-child
      margin-bottom - $gap
  h3
    font-size inherit
    font-weight bold
    line-height 16px
    margin 0
  .heading
    @extend $separated_bottom
  .more
    @extend $separated_top
    text-align right
    &::after
      background url(/assets/img/arrow_right.png) no-repeat right 100%
  .more
    font-weight 300
    font-size 14px
    line-height 14px
    &::after
      content ''
      display inline-block
      width 8px
      height 1em
      margin-left 10px
