html, body
  background $color_back
  font-family $font_main
  color $color_text_primary
  font-size 16px

h1, h2, h3, h4, h5
  margin 0

$link
  color $color_link
  text-decoration none

a
  @extend $link

$input
  border 1px solid $color_back
  border-radius $radius
  color $color_text_secondary
  &::placeholder
    color $color_text_secondary
  background-color transparent
  font-weight 300
  font-size 14px
  height 39px
  box-sizing border-box
  padding 0 $gap

$button
  @extend $input
  cursor pointer
  text-transform uppercase
  white-space nowrap

$coloredButton
  @extend $button
  border 0
  color #fff

coloredButton($color)
  @extend $coloredButton
  background-color $color

$status
  &.online
    white-space nowrap
    font-size 13px
    line-height 13px
    font-weight 300
    color $color_aux
  &::before
    margin 1px 6px 1px 0
    display inline-block
    content ''
    background $color_aux
    circle(6px)

$images_list
  list-style none
  margin -5px
  padding 0
  li
    vertical-align top
    display inline-block
    margin 5px
    border-radius $radius

$tags
  @extend $images_list
  li
    font-size 13px
    line-height 22px
    padding 0 12px
    color $color_main
    background $color_back

.rate_stars
  display inline-block
  height 12px
  width 65px
  background-image url(/assets/img/stars.png)
  background-position-y center
for $i in 0..5
  .stars_{$i}
    background-position-x 100% - $i * 20

.liked
  addIconBefore("Thumb")
