@media ({$thresholds[0]})
  main
    & > .col-wrap
      @extend $th1-col-wrap
    & > :nth-child(1)
      & > :first-child
        @extend $th1-col
        width col-12(12)
    & > :nth-child(2)
      direction rtl
      > *
        direction ltr
      & > :first-child
        @extend $th1-col
        width col-12(8)
      & > :last-child
        @extend $th1-col
        width col-12(4)

@media ({$thresholds[1]})
  .wrapper > .col-wrap
    @extend $th2-col-wrap
  main
    @extend $th2-col
    width col-12(9)
  .aux
    @extend $th2-col
    width col-12(3)
