proportionalHeight($width, $height)
  100% / $width * $height

$proportionalFrame
  position relative
  overflow hidden
  & > div
    position absolute
    width 100%
    height 100%

proportionalFrame($width, $height)
  @extend $proportionalFrame
  padding-bottom proportionalHeight($width, $height)

.card
  @import "_layout.styl"