{{#> layouts/base title="Card" path="card"}}
    <div class="wrapper">
        <div class="col-wrap">
            <main>
                <div class="col-wrap">
                    <div>
                        {{{inc "person"}}}
                    </div>
                </div>
                <div class="col-wrap">
                    <div>
                        {{{inc "center"}}}
                    </div><div>
                        {{{inc "info"}}}
                    </div>
                </div>
            </main><div class="aux">
                {{{inc "auxiliary"}}}
            </div>
        </div>
    </div>
{{/layouts/base}}