footer
  ul, dl, dd
    margin 0
    padding 0
    list-style none
  font-size 14px
  font-weight 300
  background-color $color_main
  margin-top $gap * 3
  color #fff
  padding 70px 0
  a
    color #fff
    &.strong
      color $color_aux
  .menu
    line-height 32px
    li a
      display inline-block
      vertical-align top
      line-height 12px
    ul
      margin-bottom 30px
      &:last-child
        margin-bottom 0
    @media(min-width 500px)
      ul
        width (100% / 3)
        display inline-block
        padding-right $gap
        box-sizing border-box
        vertical-align top
        margin-bottom 0
  .right
    img
      margin-bottom 50px
    .soc
      color $color_text_secondary
      font-size 12px
      dd
        margin-top 10px
      ul
        margin -6px
      li
        width 24px
        height 24px
        background-image url("/assets/img/icons/icons.png")
        margin 6px
        &:nth-child(1)
          background-position 0 0
        &:nth-child(2)
          background-position -24px 0
        &:nth-child(3)
          background-position (-24px * 2) 0
        &:nth-child(4)
          background-position (-24px * 3) 0
    & > :last-child
      margin-top 80px
    @media(min-width 500px)
      & > *
        display inline-block
        vertical-align top
      & > :first-child
        width 100%
        margin-right -140px
        padding-right 140px + $gap
        box-sizing border-box
      & > :last-child
        margin-top 0
        width 140px

  dl li
    display inline-block
  .copyright
    display block
    margin-top 30px
    color $color_text_secondary
    font-size 12px
  dl.help
    dd, dt
      padding-left 30px
    dt
      line-height 18px
      &::before
        width 16px
        height 16px
        content ''
        display inline-block
        margin-right 14px
        margin-left -30px
        position relative
        top -3px
        vertical-align bottom
        background-image url("/assets/img/icons/icons.png")
        background-position left bottom
      &:first-child::before
        background-position -16px bottom
    dd
      color $color_text_secondary
      font-size 12px
      line-height 20px
      margin-bottom 30px
      &:last-child
        margin-bottom 0

  @media(max-width 870px)
    .right
      margin-top 40px

@media ({$thresholds[1]})
  footer .wrapper
    & > .col-wrap
      @extend $th2-col-wrap
      & > :nth-child(1)
        @extend $th2-col
        width col-12(7)
      & > :nth-child(2)
        @extend $th2-col
        width col-12(5)