<footer>
    <div class="wrapper">
        <div class="col-wrap">
            <div class="menu">
                <ul>
                    <li><a href="#">О компании</a>
                    <li><a href="#">Карьера</a>
                    <li><a href="#">Реклама</a>
                    <li><a href="#">Перейти на моб. версию</a>
                </ul><ul>
                    <li><a href="#">Решения для найма</a>
                    <li><a href="#" class="strong">Решения для маркетинга</a>
                    <li><a href="#">Решения для продаж</a>
                    <li><a href="#">Для малого бизнеса</a>
                </ul><ul>
                    <li><a href="#">Правила сообщества</a>
                    <li><a href="#">Условия</a>
                    <li><a href="#">Отправить отзыв</a>
                    <li><a href="#">Центр безопасности</a>
                </ul>
            </div><div class="right">
                <dl class="help">
                    <dt>Возникли вопросы?</dt>
                    <dd>Посетите справочный центр.</dd>
                    <dt>Управление настройками уч. записи и конфиденциальности</dt>
                    <dd>Перейдите на страницу настроек</dd>
                </dl><div>
                    <img src="/assets/img/icons/logo.png" alt="visitizer logo">
                    <dl class="soc">
                        <dt>Социальные сети:</dt>
                        <dd>
                            <ul>
                                <li>
                                <li>
                                <li>
                                <li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="copyright">Visitizer © 2017</div>
    </div>
</footer>